@import url("https://use.typekit.net/rxq6tdz.css");
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');


@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-content {
  line-height: .73;
  font-weight: 700;
}
.hero-header {
  letter-spacing: 15px;
}
.font2 {
  font-family: "source-sans-pro", sans-serif;
  line-height: 1.3888888888888888;
}
.font3 {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
.MobileBg {
  background: url("https://assets.website-files.com/62f52e1f730760cd231bb250/62f53fdeb9180f1a014f595b_bg.webp") no-repeat;
  background-size: cover;
}