@import url("https://use.typekit.net/rxq6tdz.css");


body {
  margin: 0;
  font-family: "bebas-neue-pro", sans-serif;
  font-style: normal;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000511;

}

code {
}

